
<div class="ground">
  <br>
  <br>
  <h6 style="margin-top: 10px;cursor: pointer;">Lakitha
    <img src="../assets/images/lakitha.jpg">
   </h6>
  <br>

  <h6 style="margin-top: 10px;cursor: pointer;">Thilini
    <img src="../assets/images/thilini.jpg">
  </h6>
<br>
  <h6 style="margin-top: 10px;cursor: pointer;">Kanish
    <img src="../assets/images/kanishka.jpg">
  </h6>

</div>

<div class="chatbox" style="margin-top: -40% ; margin-left: 30%">
  <h6 style="text-align: center">Ruvini Pradeepika
    <img src="../assets/images/photo.jpg">
  </h6>


  <div class="chatlogs">
    <div class="chat friend">
      <div class="user-photo"><img src="../assets/images/ruvini.jpg"> </div>
      <p class="chat-messages">What's up brother..!</p>
    </div>
    <div class="chat self">
      <div class="user-photo"><img src="../assets/images/thilini.jpg"></div>
      <p class="chat-messages">What's up..! </p>
    </div>


    <div class="chat friend">
      <div class="user-photo"><img src="../assets/images/ruvini.jpg"> </div>
      <p class="chat-messages">Suppose you have a normal banking system where you want to update interest of a loan of any specific user. What you will normally do from your program? You will fetch capital, the rate of interest and duration and calculate interest and then you will go back to the database and save the data. </p>
    </div>
    <div class="chat self">
      <div class="user-photo"><img src="../assets/images/thilini.jpg"></div>
      <p class="chat-messages">What's up..! </p>
    </div>

  </div>
  <div>
    <div class="chat-form">
      <textarea style="height: 100px"></textarea>
      <button style="width: 150px ;height: 60px; margin-top: 2%" class="btn btn-primary ">Send</button>
    </div>

  </div>

</div>
