<div class="row">
  <div class="col-md-4">
    <div class="card mb-4 box-shadow" style="height: 545px;">
      <img class="card-img-top" src="assets/img/wedhall.jpg" alt="Card image cap" style="height:319px;">
         <div class="card-body">
            <h4 class="title"><a routerLink='/avenra'>Avenra Beach Hotel</a></h4>
         <br><br>
        <label class="category">No23,Galle Road,Hikkaduwa</label> 
        <br>
        <small>Package range: 10000-40000<small>LKR</small></small>
  
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card mb-4 box-shadow" style="height: 545px;">
      <img class="card-img-top" src="assets/img/h2.jpg" alt="Card image cap" style="height:319px;">
         <div class="card-body">
            <h4 class="title"><a routerLink='/salon-ohasa'>Heaven Star</a></h4>
         <br><br>
        <label class="category">No 21/2 Galle Road , kosgoda.</label> 
        <br>
        <small>Package range: 10000-30000<small>LKR</small></small>
  
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card mb-4 box-shadow" style="height: 545px;">
      <img class="card-img-top" src="assets/img/h3.jpg" alt="Card image cap" style="height:319px;">
         <div class="card-body">
            <h4 class="title"><a routerLink='/breez'>Hikka Trans</a></h4>
         <br><br>
        <label class="category">No 2/1 Galle Road ,Hikkaduwa.</label> 
        <br>
        <small>Package range: 20000-40000<small>LKR</small></small>
  
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card mb-4 box-shadow" style="height: 545px;">
      <img class="card-img-top" src="assets/img/h4.jpg" alt="Card image cap" style="height:319px;">
         <div class="card-body">
            <h4 class="title"><a routerLink='/orienco'>Orienco</a></h4>
         <br><br>
        <label class="category">No2 ,Stanly Road ,Ambalangoda.</label> 
        <br>
        <small>Package range: 10000-50000<small>LKR</small></small>
  
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card mb-4 box-shadow" style="height: 545px;">
      <img class="card-img-top" src="assets/img/hall-5.jpg" alt="Card image cap" style="height:319px;">
         <div class="card-body">
            <h4 class="title"><a routerLink='/white'>White House</a></h4>
         <br><br>
        <label class="category">No 23 Galle Road ,Ahungalle.</label> 
        <br>
        <small>Package range: 10000-60000<small>LKR</small></small>
  
      </div>
    </div>
  </div>
  
  <div class="col-md-4">
    <div class="card mb-4 box-shadow" style="height: 545px;">
      <img class="card-img-top" src="assets/img/hall-1.jpg" alt="Card image cap" style="height:319px;">
         <div class="card-body">
            <h4 class="title"><a routerLink='/amari'>Amari</a></h4>
         <br><br>
        <label class="category">No 1, Galle Road,Dadalla.</label> 
        <br>
        <small>Package range: 10000-30000<small>LKR</small></small>
  
      </div>
    </div>
  </div>
    <div class="col-md-4">
      <div class="card mb-4 box-shadow" style="height: 545px;">
        <img class="card-img-top" src="assets/img/hall-2.jpg" alt="Card image cap" style="height:319px;">
           <div class="card-body">
              <h4 class="title"><a routerLink='/hilton'>Hilton</a></h4>
           <br><br>
          <label class="category">No 45 New Fancy Road, Colombo 3.</label> 
          <br>
          <small>Package range: 500000-1000000<small>LKR</small></small>
    
        </div>
      </div>
    </div>

      <div class="col-md-4">
        <div class="card mb-4 box-shadow" style="height: 545px;">
          <img class="card-img-top" src="assets/img/hall-3.jpg" alt="Card image cap" style="height:319px;">
             <div class="card-body">
                <h4 class="title"><a routerLink='/galadari'>Galadari</a></h4>
             <br><br>
            <label class="category">No 12/Galle Road, Colombl 3.</label> 
            <br>
            <small>Package range: 1100000-3000000<small>LKR</small></small>
      
          </div>
        </div>
      </div>

        <div class="col-md-4">
          <div class="card mb-4 box-shadow" style="height: 545px;">
            <img class="card-img-top" src="assets/img/hall-4.jpg" alt="Card image cap" style="height:319px;">
               <div class="card-body">
                  <h4 class="title"><a routerLink='/shangrila'>Shangrila</a></h4>
               <br><br>
              <label class="category">No 1,Hawlok Road,Colombo 14.</label> 
              <br>
              <small>Package range: 1500000-3000000<small>LKR</small></small>
        
            </div>
          </div>
       </div>

</div>