body{
    margin: 0;
    padding: 0;
}

.slider{
    width: 1500px;
    height: 500px; 
    /* background: url(hil-1.jpg); */
    background: url(assets\img\wh-1.jpg);
    margin: auto;
    animation: slide 40s infinite;
}
@keyframes slide{
    15%{
        background: url(assets\img\wh-2.jpg);
        
    }
    30%{
        background: url(assets\img\wh-3.jpg);
        
    }
    45%{
        background: url(assets\img\wh-4.jpg);
        
    }
    
    60%{
        background: url(assets\img\wh-5.jpg);
        
    }
    75%{
        background: url(assets\img\wh-6.jpg);
       
    }
    90%{
        background: url(assets\img\wh-7.jpg);
        
    }
    100%{
        background: url(assets\img\wh-8.jpg);
       
    }

 }