
    <div class="row">
        <div class="col-lg-4 col-md-5">
            <div class="card card-user">
                <div class="image">
                    <img src="assets/img/background.jpg" alt="..."/>
                </div>
                <div class="content">
                    <div class="author">
                      <img class="avatar border-white" src="assets/img/13.jpg" alt="..."/>
                      <h4 class="title">Ellie<br />

                      </h4>
                    </div>
                    <p class="description text-center">
                      <img src="assets/img/vendor1.jpg" style="width: 40%;height: 40%;" alt="..."/>

                       <img src="assets/img/vendor2.jpg" style="width: 40%;height:40%;" alt="..."/>
                    </p>
                </div>
                <hr>
                <div class="text-center">
                    <div class="row">
                        <div class="text-center">
                          <br>
                          <br>
                          <br>
                          <br>
                            <h5>Ellie  <small>  upload photos</small></h5>

          <div ng-controller="MainCtrl">
         <input type="file" multiple name="files" filelist-bind/>
         <br>
         <ul><li ng-repeat="file in files"> </li></ul>
       </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

 <!-- <div class="container">-->
    <div class="app">
      <div class="head clearfix">
      <span class="message-notification">

        <span class="count"></span>
      </span>
        <span class="title">Messenger</span>
        <span class="create-new">
       
      </span>
      </div>

      <div class="search-bar">
        <!-- <i class="fa fa-search">-->
        <input type="text" class="ip-search"placeholder="Search"/>

      </div>
      <!-- <div ng-controller="MainCtrl">
         <input type="file" multiple name="files" filelist-bind/>
         <br>
         <ul><li ng-repeat="file in files"> {{ file.name}}</li></ul>
       </div>-->
      <div class="body">
        <div class="friend-list">
          <ul>
            <li>
        <span class="messages">
          <span class="count"></span>
        </span>
              <img src="assets/img/11.jpg" style="cursor: pointer"alt=""/>
              <span class="name">
          Acton
          <span class="status">

          </span>
        </span>
            </li>
            <li>
        <span class="messages hide">
          <span class="count"></span>
        </span>
              <img src="assets/img/12.jpg"style="cursor: pointer" alt=""/>
              <span class="name">
          Alian
          <span class="status">

          </span>
        </span>
            </li>
            <li>
        <span class="messages hide">
          <span class="count"></span>
        </span>
              <img src="assets/img/13.jpg"style="cursor: pointer" alt=""/>
              <span class="name">
          Ellie
           <span class="status">

          </span>
        </span>
            </li>
            <li>
        <span class="messages hide">
          <span class="count"></span>
        </span>
              <img src="assets/img/14.jpg"style="cursor: pointer" alt=""/>
              <span class="name">
          Brook
           <span class="status">

          </span>
        </span>
            </li> <li>
        <span class="messages ">
          <span class="count"></span>
        </span>
            <img src="assets/img/12.jpg"style="cursor: pointer" alt=""/>
            <span class="name">
          Aiken
         <span class="status">

          </span>
        </span>
          </li>

          </ul>
        </div>
        <br>
        <br>
        <div class="chat-messages">
          <div class="chat">
            <div class="chat-content clearfix">
        <span class="friend last">
          Hi,How are you?<br>
          <span class="time">
            7:30 PM
          </span>
        </span>
              <span class="you first">
          Hi I'm fine.
          How about you?<br>
          <span class="time">
            7:31 PM
          </span>
        </span>
              <span class="you last">
          lets meet,
          this sunday!<br>
          <span class="time">
            7:31 PM
          </span>
        </span>
            </div>
            <div class="msg-box">
              <input type="text" class="ip-msg" placeholder="type something"/>
              <span class="btn-group">
                <button ng-click="count= count + 1" ng-init="count=0" style="background-color:cadetblue;width: 90%;height:90%"> Send</button>
           <!--  <input type="button" class="submit" placeholder="send" style="width: 40%;height: 50%"/>-->
     <!-- <i class="fa fa-paper-plane"  style="cursor: pointer" data-href="http://message.component.html" data-layout="button-count"></i>

         <i class="fa fa-paperclip" type="file in files "  style="cursor: pointer"></i>-->
       </span>
            </div>
            <!--<div ng-controller="MainCtrl">
            <input type="file" multiple name="files" filelist-bind/>
            <br>
            <ul><li ng-repeat="file in files"> {{ file.name}}</li></ul>
          </div>
           <!--  <button type="submit" class="btn btn-info btn-fill btn-wd">Update Profile</button>
           <div class="msg-box">
              <input type="text" class="ip-msg" placeholder="type something.."/>
              <span class="btn-group">
              <i class="fa fa-paper-plane"></i>
              <i class="fa fa-paperclip"></i>
            </span>
            </div>-->
          </div>
        </div>
      </div>
    </div>
    </div>
