<link href="./assets/css/paper-dashboard.css" rel="stylesheet"/>

        <img class="img-fluid" src="assets/img/f2.jpg" alt="..." style="width: 100% ; height: 20%;"/>

        <br>
        <br>
        <br>
        <div>
          <p style="text-align: center">Celebrate your special day among stunning blooms which have been elegently arranged by
            
            the talented teams at Lassana Flora.Since we started Lassana Flora at Pannipitiya, we have brought dream wedding to life for
            
            Brides and Grooms in Srilanka.We are experts in designing floral arranegements for special occasions,weddings ,
            
            co-operatives events or parties.Lassana Flora offer couples a wide vareity of modern and quality deco options when
            
            planning thier dream wedding.We arrange all your flower requirements for the wedding specially
            
            poruwa, Settee back,lamp,Kiribath stand,table decorations,entrance deco .church or hotel decorations and 
            
            car decorations.</p>
        </div>
        <!-- <p style="text-align: center">
          Our Services
<li>Bridal Dressing</li>
<li>Hair StylingHair</li>
<li>CutsHair</li>   
<li>Treatments</li>
<li>Hair colour </li>
<li>Hair Highlights</li> 
<li> Straightening</li>
<li>Bonding</li>
<li>PermingSkin</li>
<li> TreatmentClean up</li>
<li>Herbal facial</li> 
<li>Glow facial</li>
<li>Threading</li>
</p> -->

        <br>
        <br>
        <br>
        <div class="row">
          <div class="col-md-4">
            <div class="card mb-4 box-shadow" style="height: 545px;width: 450px">
              <img class="card-img-top" src="assets/img/2-6.jpg" alt="Card image cap" style="height:545px;">
                 <!-- <div class="card-body">
                    <h4 class="title">Salon Ohasha Wattala</h4>
                    <br>
                <label class="category">Brides by Salon Ohasa at Wattala.Photographs by Chanaka Massillamany.</label> 
              </div> -->
            </div>
          </div>
        
          <div class="col-md-4">
            <div class="card mb-4 box-shadow" style="height: 545px; width: 450px">
              <img class="card-img-top" src="assets/img/download (1).jpg" alt="Card image cap" style="height:545px; margin-top: 0% ;">
                 <!-- <div class="card-body">
                    <h4 class="title">Salon Ohasha Wattala</h4>
                 <br>
                 <label class="category">Foot theraphy is more than relaxing tired feet.</label> 
                 <label class="category">Its comforting and soothing a stressed out day , caring for your wellbeing and a secret to beautiful you.</label> 
                  
              </div> -->
            </div>
          </div>
          <br>
          <div></div>
          <br>
          <div class="col-md-4">
            <div class="card mb-4 box-shadow" style="height: 545px;width: 450px;" >
              <img class="card-img-top" src="assets/img/download (4).jpg" alt="Card image cap"  style="height:545px" >
              </div>
            </div>
        
          
        </div>
        
        <div class="row">
        <div class="col-md-4"> 
          <div class="card mb-4 box-shadow"  style="margin-top: 50px ;width: 450px ;height: 535px">
            <img class="card-img-top" src="assets/img/flora.png" alt="Card image cap" style=" margin-top: 0% ">
               <div class="card-body">
                  <h4 class="title">Lassana Flora</h4>
               <br>
               <label class="category">Celebrate your special day among stunning blooms which have been elegently arranged by the talented team at Lassana Flora.</label>
               <label class="category">Come and join with us and make your wedding better.</label>
            </div>
          </div>
        </div>
        
        <div class="col-md-4">
            <div class="card mb-4 box-shadow" style="height: 525px;width: 450px ;margin-top: 50px">
              <img class="card-img-top" src="assets/img/w4.jpg" alt="Card image cap" style="height:317px;">
              <div class="card-body">
                  <h4 class="title" >Lassana Flora</h4>
               <br>
               <label class="category">Celebrate your special day among stunning blooms which have been elegently arranged by the talented team at Lassana Flora.</label> 
               <label class="category">Its comforting and soothing a stressed out day , caring for your wellbeing and a secret to beautiful you.</label> 

              </div>
            </div>
          </div>

          <div class="col-md-4">
              <div class="card mb-4 box-shadow" style="height: 510px ;width: 450px ;margin-top: 50px">
                <img class="card-img-top" src="assets/img/m2.jpg" alt="Card image cap" style="height: 515px">
                <!-- <div class="card-body">
                    <h4 class="title" >Salon Ohasha Wattala</h4>
                 <br>
                 <label class="category">Foot theraphy is more than relaxing tired feet.</label> 
                 <label class="category">Its comforting and soothing a stressed out day , caring for your wellbeing and a secret to beautiful you.</label> 
  
                </div> -->
              </div>
            </div>
        </div>
        
        
        
        <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 box-shadow" style="height: 610px;width: 450px ;margin-top: 50px">
            <img class="card-img-top" src="assets/img/images (14).jpg" alt="Card image cap" style="height:317px; margin-top: 0% ; height: 485px;">
               <div class="card-body">
                  <h4 class="title">Lassana Flora</h4>
               <br>
               <label class="category">Celebrate your special day among stunning blooms which have been elegently arranged by the talented team at Lassana Flora.</label>
            </div>
          </div>

        
              <div class="card mb-4 box-shadow" style="height: 630px;width: 450px;margin-top: 50px" >
                <img class="card-img-top" src="assets/img/download (5).jpg" alt="Card image cap" >
                </div>
                

                <div class="Foot" style="width:1500px ; height: 100px;">
                    <h4 style="background-color: dimgrey;opacity: 0.5;color: black;text-align: center;font: bold ; width: 100%  ; margin-top: 0% ;height: 30px;">Contact Us : 0916789234</h4>
                 </div>  
             
          
        </div>
        <div class="col-md-4">
            <div class="card mb-4 box-shadow" style="height: 610px;width: 450px ;margin-top: 50px">
              <img class="card-img-top" src="assets/img/images (1).jpg" alt="Card image cap" style="height:490px;">
              <div class="card-body">
                  <h4 class="title" >Lassana Flora</h4>
                  <br>
               <label class="category">Celebrate your special day among stunning blooms which have been elegently arranged by the talented team at Lassana Flora.</label> 

              </div>
            </div>
            <div class="col-md-4" >
                <div class="card mb-4 box-shadow" style="height: 619px;width: 480px; margin-top: 50px" >
                    <img class="card-img-top" src="assets/img/v5.jpg" alt="Card image cap" style="height:80x;" >
                      <div class="card-body">
                    <h3 class="title" style="text-align: center">Lassana Flora</h3>
                        <h4>Our Services</h4>
                          <ul >
                            <li>Poruwa decorations</li>
                            <li>Sattee back decorations</li>
                            <li>Lamp decorations</li>
                            <li>Kiribath stand decorations</li>
                            <li>Table decorations</li>
                            <li>Entarnce decorations</li>
                            <li>Church or Hotel decorations</li>
                            <li>Car decorations</li>
                          </ul>
                     <div class="d-flex justify-content-between align-items-center"style="text-align: center">
                        <button  type="button" class="btn btn-light" aria-label="center Align " style="margin-left: 24%">
                        <i class="far fa-calendar-check"></i> make appoinment
                      </button>
                    </div>
                    <br>
               
  
                </div>
                    </div>
              </div>
          </div>

          

          <div class="col-md-4">
              <div class="card mb-4 box-shadow" style="height: 610px;width: 450px ;margin-top: 50px">
                <img class="card-img-top" src="assets/img/m1.jpg" alt="Card image cap" style="height:610px;">
                <!-- <div class="card-body">
                    <h4 class="title" >Salon Ohasha Wattala</h4>
                    <br>
                 <label class="category">Hair dress by Roshani de Silva.Make Your appearance full change with us.Get treat by us.</label> 
  
                </div> -->
              </div>
              <div class="col-md-4" >
              <div class="card mb-4 box-shadow" style="height: 578px;width: 450px; margin-top: 50px" >
                  <img class="card-img-top" src="assets/img/wed-3.jpg" alt="Card image cap" >
                  </div>
            </div>
            <br>
            <br>
            <br><br>
            <br>
            <br>
            

           
                
          
          
    