<div class="container-fluid">
  <div class="d-flex justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="header">
            <h3 class="tite" style="text-align: left ; margin-left: 80px">Delete Your Account</h3>
          </div>

          <div class="content">
              <form name="deleteForm" (ngSubmit)="deleteUser(deleteForm)">
                   <div class="row" style="margin-left: 100px">
                    <p>We are sorry to see you go!Are you sure you want to delete your account?</p>
                    </div>
                    <br>
                    <div>
                    <h5 style="text-align: left ; margin-left: 80px">Deleting Your Account will remove your ;</h5>
                    
                      <ul style="text-align: left ; margin-left: 80px">
                        <li>Account and all information ,including email subscriptions</li>
                        <li>Vendor list</li>
                        <li> Appointments</li>
                        <li>Budgeter </li>
                        <li>favourites</li>
                      </ul>
                    
                   </div>

                   <div>
                      <h5 style="text-align: left ; margin-left: 80px">Deleting Your Account will not remove your ;</h5>
                        <ul style="text-align: left ; margin-left: 80px">
                            <li>Community Forum accounts</li>
                            <li>Your Posts</li>
                        </ul>
                   </div>

                   <div>
                     <h5 style="text-align: left ; margin-left: 80px ; color: red">Are you sure you want to delete your Account?</h5>
                   </div>
                   <br>

                   <div>
                      <button type="submit" class="btn btn-info btn-fill btn-wd" style="align-items: left;margin-left: 80px">Delete Account</button>
                      <a style="text-align: left ; margin-left: 70px; color: mediumblue" routerLink="/acc-settings">DON'T DELETE THE ACCOUNT</a>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                   </div>
                </form>
            </div>
        </div>
      </div>
    </div>
  </div>
    