<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  
  <div class="slider">
   
  </div>
  <div class="crd" style="width: 1500px;height: 400px">

    <div class="col-lg-3 col-sm-6" style="margin-top: 3%;margin-left: 73%;height: 400px">
      <div class="card" >
              <div class="content" style="height: 350px">
                  <div class="d-flex justify-content-center">
                      <h5>Appoinments</h5>
                   </div>

                  <div class="d-flex justify-content-center">
                    <div class="row">
                        <div class="col-xs-8">

                            <div class="d-flex justify-content-center">
                               <button style="width: 250px;margin-top: 10%" class="btn btn-light">Request Queto</button>
                                
                            </div>
                            <div class="d-flex justify-content-center">
                               <button style="margin-top:13%;width: 250px;margin-left: 5%" class="btn btn-light ">Send Message</button>
                                
                              </div>
                        </div>
                      </div> 
                  </div>

                  <div class="footer" style="margin-top: 30%">
                      <hr />
                      <div class="d-flex justify-content-center">
                        <button  style="background-color: 1565C0;width: 150px;font-size: 15px" class="btn btn-light" ><img src="assets\img\delete.png"> </button>
                      </div>
                  </div>
              </div>
          </div>
      </div>


  </div>
  <div>
      <p style="font-size:50px;margin-top: -25%;margin-left: 5%">About this Vendor</p>
  </div>
  <p style="width: 800px;margin-left: 5%">Located in the heart of Midtown, just steps away from Grand Central Station, The Yale Club of New York City's beautiful clubhouse and seasoned staff ensure your wedding day will be a dream come true. From photographers and florists to Guest Rooms and the post-wedding brunch, our event planners will take care of all your wedding needs so you can enjoy the company of family and friends on this most special occassion. The Yale Club is available for members and their guests. For more information, please visit us online at: https://www.yaleclubnyc.org/weddings or contact our Banquet Department at 212.716.2122 or via email at banquets@yaleclubnyc.org.</p>
  <hr>
<div style="margin-left: 5%;margin-top:  10%">
  <img style="width: 350px;height: 200px" src="assets\img\gal-2.jpg">

  <img style="margin-left: 10%;width: 350px;height: 200px" src="assets\img\gal-3.jpg">
  <img style="margin-left: 10%;width: 350px;height: 200px" src="assets\img\gal-5.jpg">
</div>

<div>
        <p style="font-size:40px;margin-top: 5%;margin-left: 5%">Amenities + Details</p>
    </div>
    <div style="font-size: 20px;margin-left: 8%">
    <li>Dressing Room
        </li>
        <li> Handicap Accessible
            </li>
            <li> On-Site Accommodations
                 </li>
                 <li> Indoor
                     </li>
                     <li> Outdoor - Covered
                         </li>
                          <li>Liability Insurance
                             </li>
                             <li>    Wireless Internet
                                 </li>
                                 <img style="margin-left: 30%;margin-top: -19%;width: 900px;height: 350px" src="assets\img\hil-17.jpg">
                                </div>
                                          
                                <div>
                                        <p style="font-size:40px;margin-top: 5%;margin-left: 5%">About Us</p>
                                    </div>     
                                    <p style="width: 800px;margin-left: 5%;font-size: 15px">Email: hotelgaladari@gmail.com.</p>
                                    <p style="width: 800px;margin-left: 5%;font-size: 15px">No33,Hawloak Road,Colombo 3.</p>
                                    <br>
                                    <p style="width: 800px;margin-left: 5%;font-size: 15px">Contacts :+95 112334678</p>
                                    <br>
                                    <img style="margin-left: 40%;margin-top: -15%;width: 850px" src="assets\img\gal-map.PNG">
                            
                            </body>
                            
                                            
                            </html>