<link href="./assets/css/paper-dashboard.css" rel="stylesheet"/>

        <img class="img-fluid" src="assets/img/22b.jpg" alt="..." style="width: 100% ; height: 20%;"/>

        <br>
        <br>
        <br>
        <div>
          <p style="text-align: center">Welcome to Ohasha beauty salon in Sri Lanka

            Ohasha beauty salon is most speciality for bridal dressing,bridal make up, bridal hair dressing, bridal makeup,bridal hair dressing , beauty treatment and other treatment and other beauty services	.
            
            Every One has dream of their wedding. This is the day woman wants to look her best Ohasha beauty salon help you to look gorgeous on your special day.
            
            With our five year experience of bridal dressing ,bridal makeup, and other salon services will help you to make your wedding day beautiful.</p>
        </div>
        <p style="text-align: center">
          Our Services
<li>Bridal Dressing</li>
<li>Hair StylingHair</li>
<li>CutsHair</li>   
<li>Treatments</li>
<li>Hair colour </li>
<li>Hair Highlights</li> 
<li> Straightening</li>
<li>Bonding</li>
<li>PermingSkin</li>
<li> TreatmentClean up</li>
<li>Herbal facial</li> 
<li>Glow facial</li>
<li>Threading</li>
</p>

        <br>
        <br>
        <br>
        <div class="row">
          <div class="col-md-4">
            <div class="card mb-4 box-shadow" style="height: 545px;">
              <img class="card-img-top" src="assets/img/8.jpg" alt="Card image cap" style="height:319px;">
                 <div class="card-body">
                    <h4 class="title"><a routerLink='/salon-ohasa'>Salon Ohasa</a></h4>
                 <br>
                <label class="category">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</label> 
                <small>Package range: 10000-30000<small>LKR</small></small>
                <hr>
                
                
                <div class="d-flex justify-content-between align-items-center">
                    
                    <button type="button" class="btn btn-light" aria-label="Left Align">
                        <i class="far fa-calendar-check"></i> make appoinment
                    </button>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
        
          <div class="col-md-4">
            <div class="card mb-4 box-shadow" style="height: 545px;">
              <img class="card-img-top" src="assets/img/v2.jpg" alt="Card image cap" style="height:319px;">
                 <div class="card-body">
                    <h4 class="title">Reception Venues</h4>
                 <br>
                <label class="category">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</label> 
                <small>Package range: 10000-30000<small>LKR</small></small>
                <hr>
                
                
                <div class="d-flex justify-content-between align-items-center">
                    
                    <button type="button" class="btn btn-light" aria-label="Left Align">
                        <i class="far fa-calendar-check"></i> make appoinment
                    </button>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
          <br>
          <div></div>
          <br>
          <div class="col-md-4">
            <div class="card mb-4 box-shadow" style="height: 500px; width: 200px;" >
              <img class="card-img-top" src="assets/img/v2.jpg" alt="Card image cap" style="height:319px;">
                 <div class="card-body">
                    <h4 class="title">Reception Venues</h4>
                 <br>
                <label class="category">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</label> 
                <small>Package range: 10000-30000<small>LKR</small></small>
                <hr>
                
                
                <div class="d-flex justify-content-between align-items-center">
                    
                    <button type="button" class="btn btn-light" aria-label="Left Align">
                        <i class="far fa-calendar-check"></i> make appoinment
                    </button>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
        
          
        </div>
        
        <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="assets/img/wed-2.jpg" alt="Card image cap">
               <div class="card-body">
                  <h4 class="title">Florists</h4>
               <br>
              <label class="category">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</label> 
              <small>Package range: 10000-30000<small>LKR</small></small>
              <hr>
              
              
              <div class="d-flex justify-content-between align-items-center">
                  
                  <button type="button" class="btn btn-light" aria-label="Left Align">
                      <i class="far fa-calendar-check"></i> make appoinment
                  </button>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        
        <div class="col-md-4">
            <div class="card mb-4 box-shadow" style="height: 545px;">
              <img class="card-img-top" src="assets/img/11.jpg" alt="Card image cap" style="height:317px;">
                 <div class="card-body">
                    <h4 class="title"><a>Salon</a></h4>
                 <br>
                <label class="category">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</label> 
                <small>Package range: 10000-30000<small>LKR</small></small>
                <hr>
                
                
                <div class="d-flex justify-content-between align-items-center">
                    
                    <button type="button" class="btn btn-light" aria-label="Left Align">
                        <i class="far fa-calendar-check"></i> make appoinment
                    </button>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        
        
        <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 box-shadow" style="height: 545px;">
            <img class="card-img-top" src="assets/img/v7.jpg" alt="Card image cap" style="height:317px;">
               <div class="card-body">
                  <h4 class="title">Entertainers</h4>
               <br>
              <label class="category">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</label> 
              <small>Package range: 10000-30000<small>LKR</small></small>
              <hr>
              
              
              <div class="d-flex justify-content-between align-items-center">
                  
                  <button type="button" class="btn btn-light" aria-label="Left Align">
                      <i class="far fa-calendar-check"></i> make appoinment
                  </button>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        </div>