<link href="./assets/css/paper-dashboard.css" rel="stylesheet"/>

        <img class="img-fluid" src="assets/img/4 (1).jpg" alt="..." style="width: 100% ; height: 20%;"/>

        <br>
        <br>
        <br>
        <div class="row">
          <div class="col-md-4">
            <div class="card mb-4 box-shadow" style="height: 610px;">
              <img class="card-img-top" src="assets/img/m1.jpg" alt="Card image cap">
                 <div class="card-body">
                    
                 <br>
               
              </div>
            </div>
          </div>
        
          <div class="col-md-4">
            <div class="card mb-4 box-shadow" style="height: 595px;">
              <img class="card-img-top" src="assets/img/m2.jpg" alt="Card image cap">
                 <div class="card-body">
               
                 <br>
              
              </div>
            </div>
          </div>
          <br>
          <div></div>
          <br>
          <div class="col-md-4">
            <div class="card mb-4 box-shadow" style="height: 595px;" >
              <img class="card-img-top" src="assets/img/m3.jpg" alt="Card image cap">
                 <div class="card-body">   
                 <br>
              </div>
            </div>
          </div>
        </div>

        
        <div class="row">
        <div class="col-md-4" style="margin-top: 10%">
            <div class="Foot" style="width:1500px ; height: 100px;">
                <p style="color: black;text-align: center;font: bold ; width: 100%  ; margin-top: 0% ;height: 30px;">Venus Salons is the foremost chain of Hair and Beauty salons in Sri Lanka and are located in some of the most prestigious addresses in the country.
                    Salon Venus is always associated with class and style, and with the Company's highly trained professional staff, exposed to up to date techniques and trends, the group has earned a reputation for providing quality services which any discerning person could expect.

                    A visit to a Venus Salon would give you the taste of the difference.
                </p>

             </div>  
          <div class="card mb-4 box-shadow">
            <video controls  >
              <source src="assets/video/manali.mp4" type="video/mp4">
            </video>
               <div class="card-body">
                  <h4 class="title">Programmes held by us.</h4>
               <br>
              
            </div>
          </div>
        </div>
        
        <div class="col-md-4" style="margin-top: 17%">
            <div class="card mb-4 box-shadow" style="height: 430px;">
              <img class="card-img-top" src="assets/img/m5.jpg" alt="Card image cap">
                 <div class="card-body">
                    <h4 class="title"><a routerLink='/bonita'>Salon Venus Galle</a></h4>
                    <br>
                    <label class="category">Get the best treatment to your hair by us.We'll help you to make you beauty.</label>
                 <br>  
              </div>
          </div>
          </div>

          <div class="col-md-4" style="margin-top: 17%">
              <div class="card mb-4 box-shadow" style="height: 430px;">
                <img class="card-img-top" src="assets/img/m6.jpg" alt="Card image cap">
                   <div class="card-body">
                      <h4 class="title"><a routerLink='/bonita'>Salon Venus Galle</a></h4>
                   <br>  
                   <br>
                   <label class="category">Brides by Salon Venus at Galle.Photographs by Chanaka Massillamany.</label>
                </div>
            </div>
        </div>
        
        
        
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 box-shadow" style="height: 430px;width: 450px ;margin-top: 50px">
                  <img class="card-img-top" src="assets/img/ss.jpg" alt="Card image cap" style="height:317px ; height: 430px;">
                     <div class="card-body">
                        <h4 class="title">Salon Venus Galle</h4>
                     <br>
                     <label class="category">Brides by Salon Venus at Galle.Photographs by Chanaka Massillamany.</label>
                   </div>
                </div>
          </div>

          <div class="col-md-4">
              <div class="card mb-4 box-shadow" style="height: 430px;width: 450px ;margin-top: 50px ; margin-left: 10%">
                <img class="card-img-top" src="assets/img/salon.jpg" alt="Card image cap" style="height:317px ; height: 430px;">
                   <div class="card-body">
                      <h4 class="title">Salon Venus Galle</h4>
                   <br>
                   <label class="category">Brides by Salon Venus at Galle.Photographs by Chanaka Massillamany.</label>
                 </div>
              </div>
        </div>
          <div class="col-md-4">
              <div class="card mb-4 box-shadow" style="height: 610px;width: 450px ;margin-top: 50px; margin-left: 20% ; height: 430px;">
                <img class="card-img-top" src="assets/img/b6.jpg" alt="Card image cap" style="height: 430px;">
           </div>

           </div> 
          </div>

          <div class="col-md-4" >
              <div class="card mb-4 box-shadow" style="height: 670px;width: 620px; margin-top: 20px ; margin-left: 90%" >
                  <img class="card-img-top" src="assets/img/7.jpg" alt="Card image cap" >
                    <div class="card-body">
                  <h3 class="title" style="text-align: center">Salon Venus Galle</h3>
                  <img src="assets/img/f3.png" >
                   <div class="d-flex justify-content-between align-items-center"style="text-align: center">
                      <button  type="button" class="btn btn-light" aria-label="center Align " style="margin-left: 24%">
                      <i class="far fa-calendar-check"></i> make appoinment
                    </button>
                  </div>
                  <br>
              </div>
          
        </div>
