<div class="row">
  <div class="col-md-4">
    <div class="card mb-4 box-shadow" style="height: 460px;">
      <img class="card-img-top" src="assets/img/p3.jpg" alt="Card image cap" style="height:319px;">
         <div class="card-body">
            <h4 class="title"><a routerLink='/rehan'>Click</a></h4>
            <label class="category">Visuals are an ideal way of conveying ideas and concepts.Best equipments and tools ,perfect lightning and accurate technoque
              
              utilized in the right combination are the most important in maneures in concept photogrphy.</label>
         <br>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card mb-4 box-shadow" style="height: 460px;">
      <img class="card-img-top" src="assets/img/p4.jpg" alt="Card image cap" style="height:319px;">
         <div class="card-body">
            <h4 class="title"><a routerLink='/best'>Best Photographers</a></h4>
            <label class="category">Celebrate your special day among stunning blooms which have been elegently arranged by the talented team at Best Photographers.
              
                The perfect shot will imprint the concept in the spectors mind and will have it cnveyed in the most effective manner.</label>
         <br>
      </div>
    </div>
  </div>

  <div class="col-md-4">
      <div class="card mb-4 box-shadow" style="height: 460px;">
        <img class="card-img-top" src="assets/img/p5.jpg" alt="Card image cap" style="height:319px;">
           <div class="card-body">
              <h4 class="title"><a routerLink='/click'>U studio</a></h4>
              <label class="category">Celebrate your special day among stunning blooms which have been elegently arranged by the talented team at U studio.</label>
           <br>
              
        </div>
      </div>
    </div>
  
</div>



<div class="row">
<div class="col-md-4">
  <div class="card mb-4 box-shadow"  style="height: 460px;">
    <img class="card-img-top" src="assets/img/images (11).jpg" alt="Card image cap"  style="height:317px;">
       <div class="card-body">
          <h4 class="title"><a routerLink='/manahara-flora' >Geeshan Bandara Photography</a></h4>
          <label class="category">Celebrate your special day among stunning blooms which have been elegently arranged by the talented team at Manahara Flora.</label>
       <br>
    </div>
  </div>
</div>

<div class="col-md-4">
    <div class="card mb-4 box-shadow" style="height: 460px;">
      <img class="card-img-top" src="assets/img/p6.jpg" alt="Card image cap" style="height:317px;">
         <div class="card-body">
            <h4 class="title"><a routerLink='/vendor-login'>Foto Station</a></h4>
            <label class="category">Celebrate your special day among stunning blooms which have been elegently arranged by the talented team at May Queen Flora.</label>
         <br>
      </div>
    </div>
  </div>
  <div class="col-md-4">
      <div class="card mb-4 box-shadow" style="height: 460px;">
        <img class="card-img-top" src="assets/img/p7.jpg" alt="Card image cap" style="height:317px;">
           <div class="card-body">
              <h4 class="title"><a routerLink='/mahesh'>Mahesh Manneppuruma</a></h4>
              <label class="category">Celebrate your special day among stunning blooms which have been elegently arranged by the talented team at Crescent Flora.</label>
           <br>
         
        </div>
      </div>
    </div>
</div>



