<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3" style="margin-top: 5%;margin-left: 73%">
            <div class="card" >
    
                <div class="content" >
                    <div class="d-flex justify-content-center">
                        <h5> Budget Calculator </h5>
                     </div>
  
                    <div class="d-flex justify-content-center">
                      <div class="row">
                          <div class="col-xs-7">
                              <!-- <label class="text-center"></label> -->
                              <div class="input-group">
                                  <!-- <span class="input-group-addon">??</span> -->
                                  <input type="number" class="form-control">
                                  <br><br><span class="input-group-addon">LKR</span>
                                </div>
                          </div>
                        </div> 
                    </div>
  
                    <div class="footer">
                        <hr />
                        <div class="d-flex justify-content-center">
                            <a class="ti-reload" routerLink='/budget-cal'>Calculate Now</a> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
  
        <div class="col-lg-3 col-sm-6" style="margin-top: 3%;margin-left: 73%">
            <div class="card">
                    <div class="content">
                        <div class="d-flex justify-content-center">
                            <h5>Appoinments</h5>
                         </div>
      
                        <div class="d-flex justify-content-center">
                          <div class="row">
                              <div class="col-xs-8">
  
                                  <div class="d-flex justify-content-center">
                                      <h3>10</h3>
                                      
                                    </div>
                              </div>
                            </div> 
                        </div>
      
                        <div class="footer">
                            <hr />
                            <div class="d-flex justify-content-center">
                                <a class="ti-reload" routerLink='/user'>View All</a> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
  
  
  
        <div class="col-lg-3 col-sm-6" style="margin-top: 3%;margin-left: 73%">
            <div class="card">
                    <div class="content">
                        <div class="d-flex justify-content-center">
                            <h5>To Do</h5>
                         </div>
      
                        <div class="d-flex justify-content-center">
                          <div class="row">
                              <div class="col-xs-8">
  
                                  <div class="d-flex justify-content-center">
                                      <h3>6</h3>
                                      
                                    </div>
                              </div>
                            </div> 
                        </div>
      
                        <div class="footer">
                            <hr />
                            <div class="d-flex justify-content-center">
                                <a class="ti-reload" routerLink='/user'>View All</a> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
  
        <div class="col-lg-3 col-sm-6" style="margin-top: 3%;margin-left: 73%">
            <div class="card">
                    <div class="content">
                        <div class="d-flex justify-content-center">
                            <h5>@UserName</h5>
                         </div>
      
                        <div class="d-flex justify-content-center">
                          <div class="row">
                              <div class="col-xs-8">
  
                                  <div class="d-flex justify-content-center">
                                      <img class="avatar border-white" src="assets/img/faces/face-2.jpg" alt="..."/>
                                      
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <br><a href="#"><small>wedding day: 2017/04/18</small></a>
                                    </div>
                                      
                              </div>
                            </div> 
                        </div>
      
                        <div class="footer">
                            <hr />
                            <div class="d-flex justify-content-center">
                                <a class="ti-reload" routerLink='/user'>View Profile</a> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
  
  
        <!-- <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="assets/img/vp.jpg" alt="Card image cap">
                <div class="card-body">
                  <h4 class="title">Wedded Photography</h4>
                  <br>
                  <label class="category">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</label> 
                  <small>Package range: 10000-30000<small>LKR</small></small>
                  <hr>
                  
                  
                  <div class="d-flex justify-content-between align-items-center">
                      
                      <button (click)="makeAppoinment()" type="button" class="btn btn-light" aria-label="Left Align">
                          <i class="far fa-calendar-check"></i> make appoinment
                        </button>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
        </div> -->
  
  
        <!-- <mat-toolbar color="primary" style="width: 400px ;margin-left: 3%;margin-top: -63%">
            <mat-toolbar-row>
                <span></span>
                <span class="example-spacer"></span>
                <mat-icon class="example-icon">favorite</mat-icon>
                <mat-icon class="example-icon">delete</mat-icon>
            </mat-toolbar-row>
        </mat-toolbar>
         -->
        <mat-card class="example-card" style="width: 300px ;height: 150px; margin-left: 3%;margin-top: -65%" >
          <!-- <mat-card-header>
              <div mat-card-avatar class="example-header-image"> </div>
                  <mat-card-title>Wedding Photography</mat-card-title>
  
          </mat-card-header> -->
  
          <img mat-card-image src="assets/img/vp.jpg">
  
          <mat-card-content>
              <a style="font-size: 20px" class="ti-reload" routerLink='/photo'>Wedding Photography</a> 
          </mat-card-content>
          <mat-card-actions>
              <!-- <button  class="btn btn-light" mat-raised-button color="accent"><img src="assets\img\heart.png" alt=""> </button> -->
              <!-- <button  (click)="makeAppoinment() "type="button" class="btn btn-light" aria-label="Left Align" mat-raised-button color="accent"> Make An Appointmnet  </button> -->
          </mat-card-actions>
        </mat-card>
  <!--  -->
        <!-- <mat-toolbar color="primary" style="width: 400px ;margin-left: 40%;margin-top: -31%">
          <mat-toolbar-row>
              <span></span>
              <span class="example-spacer"></span>
              <mat-icon class="example-icon">favorite</mat-icon>
              <mat-icon class="example-icon">delete</mat-icon>
          </mat-toolbar-row>
      </mat-toolbar> -->
      
      <mat-card class="example-card" style="width: 300px;height: 150px ;margin-left: 25% ;margin-top: -10%" >
        <!-- <mat-card-header>
            <div mat-card-avatar class="example-header-image"> </div>
                <mat-card-title>Reception Venues</mat-card-title>
  
        </mat-card-header> -->
  
        <img mat-card-image src="assets/img/wedhall.jpg">
  
        <mat-card-content>
            <a style="font-size: 20px" class="ti-reload" routerLink='/venues'>Reception Venues</a> 
        </mat-card-content>
        <mat-card-actions>
            <!-- <button  class="btn btn-light" mat-raised-button color="accent"><img src="assets\img\heart.png" alt=""> </button> -->
            <!-- <button  (click)="makeAppoinment() "type="button" class="btn btn-light" aria-label="Left Align" mat-raised-button color="accent"> Make An Appointmnet  </button> -->
        </mat-card-actions>
      </mat-card>
      <br><br><br><br>
      <!--  -->
      <!-- <mat-toolbar color="primary" style="width: 400px ;margin-left: 3%;">
          <mat-toolbar-row>
              <span></span>
              <span class="example-spacer"></span>
              <mat-icon class="example-icon">favorite</mat-icon>
              <mat-icon class="example-icon">delete</mat-icon>
          </mat-toolbar-row>
      </mat-toolbar> -->
      
      <mat-card class="example-card" style="width: 300px ;height: 150px;margin-left: 47%;margin-top: -16% " >
        <!-- <mat-card-header>
            <div mat-card-avatar class="example-header-image"> </div>
                <mat-card-title>Beauti Salon</mat-card-title>
  
        </mat-card-header> -->
  
        <img mat-card-image src="assets/img/k.jpg" style="height: 210px;">
  
        <mat-card-content>
            <a style="font-size: 20px" class="ti-reload" routerLink='/salon'>Beauti Salon</a> 
        </mat-card-content>
        <mat-card-actions>
            <!-- <button  class="btn btn-light" mat-raised-button color="accent"><img src="assets\img\heart.png" alt=""> </button> -->
            <!-- <button  (click)="makeAppoinment() "type="button" class="btn btn-light" aria-label="Left Align" mat-raised-button color="accent"> Make An Appointmnet  </button> -->
        </mat-card-actions>
      </mat-card>
  
      <!--  -->
      <br><br>
      
      <!-- <mat-toolbar color="primary" style="width: 400px ;margin-left: 40%;margin-top: -30%">
          <mat-toolbar-row>
              <span></span>
              <span class="example-spacer"></span>
              <mat-icon class="example-icon">favorite</mat-icon>
              <mat-icon class="example-icon">delete</mat-icon>
          </mat-toolbar-row>
      </mat-toolbar> -->
      
      <mat-card class="example-card" style="width: 300px;height: 150px ;margin-left: 25% ;margin-top: 10%" >
        <!-- <mat-card-header>
            <div mat-card-avatar class="example-header-image"> </div>
                <mat-card-title>DJ Music</mat-card-title>
  
        </mat-card-header> -->
  
        <img mat-card-image src="assets/img/dd.jpg" style="height: 210px;">
  
        <mat-card-content>
            <a style="font-size: 20px" class="ti-reload" routerLink='/#'>DJ Music</a> 
        </mat-card-content>
        <mat-card-actions>
            <!-- <button  class="btn btn-light" mat-raised-button color="accent"><img src="assets\img\heart.png" alt=""> </button> -->
            <!-- <button  (click)="makeAppoinment() "type="button" class="btn btn-light" aria-label="Left Align" mat-raised-button color="accent"> Make An Appointmnet  </button> -->
        </mat-card-actions>
      </mat-card>
  
      <br>
      <br>
      <br>
      
      <!-- <mat-toolbar color="primary" style="width: 400px ;margin-left: 3%;">
          <mat-toolbar-row>
              <span></span>
              <span class="example-spacer"></span>
              <mat-icon class="example-icon">favorite</mat-icon>
              <mat-icon class="example-icon">delete</mat-icon>
          </mat-toolbar-row>
      </mat-toolbar> -->
      
      <mat-card class="example-card" style="width: 300px;height: 150px ;margin-left: 3% ;margin-top: -14%" >
        <!-- <mat-card-header>
            <div mat-card-avatar class="example-header-image"> </div>
                <mat-card-title>Beauti Salon</mat-card-title>
  
        </mat-card-header> -->
  
        <img mat-card-image src="assets/img/flora.png">
  
        <mat-card-content>
            <a style="font-size: 20px" class="ti-reload" routerLink='/florists'>Floristst</a> 
        </mat-card-content>
        <mat-card-actions style="height: 10px">
            <!-- <button  class="btn btn-light" mat-raised-button color="accent"><img src="assets\img\heart.png" alt=""> </button> -->
            <!-- <button  (click)="makeAppoinment() "type="button" class="btn btn-light" aria-label="Left Align" mat-raised-button color="accent"> Make An Appointmnet  </button> -->
        </mat-card-actions>
      </mat-card>

      <div style="margin-top: 8% ; width: 70%">
          <p style="text-align: center ; margin-top: 5% ; margin-left: 3%">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam omnis itaque aliquam dolores odit nemo? Sequi alias tempora autem non sint impedit cupiditate, dignissimos provident ipsam aspernatur. Dolore, eius dolorum!
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis molestias quasi rerum facere earum quos, repellendus, cumque inventore adipisci veritatis corporis, perferendis dolore quia dignissimos consequatur exercitationem saepe harum rem!
          </p>
          <h4 style="margin-top: 7% ">Click Me and Explore</h4>
      </div>

      <div class="row" style="margin-top: 1%">
        <div class="col-md-2" style="margin-top: 1%">
          <div class="card mb-2 box-shadow" style="height: 510px;margin-top: 1% ; width: 310px">
            <img class="card-img-top" src="assets/img/t23.jpg" alt="Card image cap" style="height: 510px; width: 310px" routerLink='/vendor-login'>
               <div class="card-body">    
               <br>
            </div>
          </div>
        </div>
      
        <div class="col-md-2" style="margin-top: 1% ; margin-left: 9%">
          <div class="card mb-2 box-shadow" style="height: 510px;margin-top: 1% ; width: 310px">
            <img class="card-img-top" src="assets/img/p22.jpg" alt="Card image cap" style="height: 510px; width: 310px" routerLink='/best'>
               <div class="card-body">
               <br>
                </div>
          </div>
        </div>

        <div class="col-md-2" style="margin-top: 1% ;  margin-left: 9%">
            <div class="card mb-2 box-shadow" style="height: 510px;margin-top: 1% ; width: 310px">
              <img class="card-img-top" src="assets/img/p23.jpg" alt="Card image cap" style="height: 510px; width: 310px " routerLink='/bonita'>
                 <div class="card-body">    
                 <br>
              </div>
            </div>
          </div>
                
        <br>
        <div></div>
        <br>
      </div>


      <div class="row" style="margin-top: 1%">
        <div class="col-md-2" style="margin-top: 1%">
          <div class="card mb-2 box-shadow" style="height: 510px;margin-top: 1% ; width: 310px">
            <img class="card-img-top" src="assets/img/cn.jpg" alt="Card image cap" style="height: 510px; width: 310px" routerLink='/bonita'>
               <div class="card-body">    
               <br>
            </div>
          </div>
        </div>
      
        <div class="col-md-2" style="margin-top: 1% ; margin-left: 9%">
          <div class="card mb-2 box-shadow" style="height: 510px;margin-top: 1% ; width: 310px">
            <img class="card-img-top" src="assets/img/p28.jpg" alt="Card image cap" style="height: 510px; width: 310px" routerLink='/click'>
               <div class="card-body">
               <br>
                </div>
          </div>
        </div>

        <div class="col-md-2" style="margin-top: 1% ;  margin-left: 9%">
            <div class="card mb-2 box-shadow" style="height: 510px;margin-top: 1% ; width: 310px">
              <img class="card-img-top" src="assets/img/boc.jpg" alt="Card image cap" style="height: 510px; width: 310px " routerLink='/lassana-flora'>
                 <div class="card-body">    
                 <br>
              </div>
            </div>
         </div>
             
         
         <div class="col-md-2" style="margin-top: 1% ; margin-left: 9%">
            <div class="card mb-2 box-shadow" style="height: 510px;margin-top: 1% ; width: 310px">
              <img class="card-img-top" src="assets/img/p26.jpg" alt="Card image cap" style="height: 510px; width: 310px" routerLink='/salon-ohasa'>
                 <div class="card-body">
                 <br>
                  </div>
            </div>
          </div>
        <br>
        <div></div>
        <br>
      </div>

     
      
  
  </div>
  
  