 <div class="card">
    <div class="header">
      <h4 class="title">Change Password</h4>
    </div>
    <div class="content">
      <form>
        <div class="row">
          <div class="col-md-5">
            <div class="form-group">
              <label>Email</label>
              <input type="email" class="form-control border-input" disabled placeholder="Email Address" value="lakithaprabudh96@gmail.com">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-5">
            <div class="form-group">
              <label>Current Password</label>
              <input type="password" class="form-control border-input" placeholder="Enter your current password">
            </div>
          </div>

          <div class="row">
            <div class="col-md-5">
              <div class="form-group">
                <label>Retype Password</label>
                <input type="password" class="form-control border-input" placeholder="Retype your entered password">
              </div>
            </div>
          </div>

        <div class="row">
          <div class="col-md-5">
            <div class="form-group">
              <button style="margin-left: 10px" type="submit" class="btn btn-info btn-fill btn-wd">Change Password</button>
            </div>
          </div>
        </div>

          <div class="col-md-6">
            <div class="form-group">
              <p style="margin-left: 10px"><a style="color: darkred" href="#">Delete your account</a></p>
            </div>
          </div>

          <div class="col-md-6">
            <div class="clearfix"></div>
            </div>

        </div>
      </form>
    </div>
  </div>



