<!--  Paper Dashboard core CSS    -->
<link href="./assets/css/paper-dashboard.css" rel="stylesheet"/>

        <img class="img-fluid" src="assets/img/login.jpg" alt="..."/>


<br> <br>
<div class="container-fluid">
    <div class="d-flex justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="header">
                <h4 class="tite" style="text-align: center">LogIn</h4>
            </div>
            <div class="content">
                <form [formGroup]="userForm" (ngSubmit)="validation(userForm.value)" (ngSubmit)="searchUser(userForm)">

                    <div class="row" style="margin-left: 80px">
                         <label for="lgFormGroupInput" class="col-sm-3 col-form-label col-form-label-lg">Email</label>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input formControlName="email" type="email" class="form-control border-input"  placeholder="Email Address"   id="email" name="email" [(ngModel)]="txtemail">
                                     <div class="alert"  *ngIf="!userForm.controls['email'].valid && userForm.controls['email'].touched">{{ titleAlert }}</div>
                                </div>
                            </div>
                     </div>
                      
                    <div class="row" style="margin-left: 80px">
                          <label  for="lgFormGroupInput" class="col-sm-3 col-form-label col-form-label-lg">Password</label>
                             <div class="col-sm-6">
                                 <div class="form-group">
                                  <input formControlName="password" type="password" class="form-control border-input " placeholder="Your password" id="password"  name="password" [(ngModel)]="txtpassword">                                   
                                     <div class="alert" *ngIf="!userForm.controls['password'].valid && userForm.controls['password'].touched">{{ titleAlert }}</div>
                                 </div>
                             </div>
                     </div>

                    <div style="text-align: center ; cursor: pointer">
                      <a>Log in as a vendor.</a>
                    </div>
                    <div  style="text-align: center ; cursor: pointer">
                      <a>Not a member yet? Join with us now.</a>
                    </div>
                    <br>

                    <div class="text-center">
                            <button type="button" class="btn btn-primary" (click)="login()" >Login with Google</button>
                    </div> <br>

                    <div class="text-center">
                        <button  [disabled]="!userForm.valid" type="submit" class="btn btn-info btn-fill btn-wd" >LogIn</button>
                    </div>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
</div>
    
