<link href="./assets/css/paper-dashboard.css" rel="stylesheet"/>

        <img class="img-fluid" src="assets/img/p1.png" alt="..." style="width: 100% ; height: 20%;"/>

        <br>
        <br>
        <br>
        <div>
          <p style="text-align: center">Join with us to celebrate your special occasseion with us.Celebrate your special day among stunning blooms which have been elegently arranged by the talented team at Best Photographers.
              
            The perfect shot will imprint the concept in the spectors mind and will have it cnveyed in the most effective manner</p>
        
            <h3 style="margin-left: 30%">Explore our works and join with us to fullfill your needs.</h3>
        </div>
        <!-- <p style="text-align: center">
          Our Services
<li>Bridal Dressing</li>
<li>Hair StylingHair</li>
<li>CutsHair</li>   
<li>Treatments</li>
<li>Hair colour </li>
<li>Hair Highlights</li> 
<li> Straightening</li>
<li>Bonding</li>
<li>PermingSkin</li>
<li> TreatmentClean up</li>
<li>Herbal facial</li> 
<li>Glow facial</li>
<li>Threading</li>
</p> -->

        <br>
        <br>
        <br>

        <div  id="slider">
          <figure style="float: left ;height: 550px ">
          <img src="\assets\img\c13.jpg">
          
          <img  src="\assets\img\c12.jpg">  
          <img  src="\assets\img\p10.png">  
          <img  src="\assets\img\p13.png"> 
          
          </figure>
          </div>

          <br>
          <br>
          <br>
       
        <div class="row">
          <div class="col-md-4">
            <div class="card mb-4 box-shadow" style="height: 545px;width: 450px">
             
              <img class="card-img-top" src="assets/img/c14.jpg" alt="Card image cap" style="height:545px;">
                 <!-- <div class="card-body">
                    <h4 class="title">Salon Ohasha Wattala</h4>
                    <br>
                <label class="category">Brides by Salon Ohasa at Wattala.Photographs by Chanaka Massillamany.</label> 
              </div> -->
            </div>
          </div>
        
          <div class="col-md-4">
            <div class="card mb-4 box-shadow" style="height: 545px; width: 450px">
              <img class="card-img-top" src="assets/img/c7.jpg" alt="Card image cap" style="height:545px; margin-top: 0% ;">
                 <!-- <div class="card-body">
                    <h4 class="title">Salon Ohasha Wattala</h4>
                 <br>
                 <label class="category">Foot theraphy is more than relaxing tired feet.</label> 
                 <label class="category">Its comforting and soothing a stressed out day , caring for your wellbeing and a secret to beautiful you.</label> 
                  
              </div> -->
            </div>
          </div>
          <br>
          <div></div>
          <br>
          <div class="col-md-4">
            <div class="card mb-4 box-shadow" style="height: 545px;width: 450px;" >
              <img class="card-img-top" src="assets/img/c20.jpg" alt="Card image cap"  style="height:545px" >
              </div>
            </div>
  
        </div>

        <br>
        <br>
        
        <div class="row" >
          <div>
            <p style="font-size:25px;margin-top: 5%;margin-left: 25%">More little about Us</p>
        </div>
        <div style="font-size: 20px;margin-left: 8%">
        <li>Professional photogrphy for weddings
            </li>
            <li> Engagement
                </li>
                <li>Pre-shoot
                     </li>
                     <li> Indoor
                         </li>
                         <li> Family events
                             </li>
                              <li>Others
                                 </li>
                                 <li>  Situated near Wattala
                                     </li>
                                      <li>
                                        Contact us : 0917823901
                                      </li>
        
         </div>

         <div class="row" style="margin-left: 9% ; margin-top: 2%">
          <video controls style="width: 550px;height: 300px" >
            <source src="assets/video/rehan.mp4" type="video/mp4" >
          </video>
        </div>
        </div>

        <div class="crd">
          <div class="col-lg-3 col-sm-6" style="margin-top: 5%;margin-left: 42%;height: 400px">
            <div class="card"  >
                    <div class="content" style="height: 350px">
                        <div class="d-flex justify-content-center">
                            <h5>Appoinments</h5>
                         </div>
        
                        <div class="d-flex justify-content-center">
                          <div class="row">
                              <div class="col-xs-8">
        
                                  <div class="d-flex justify-content-center">
                                     <button style="width: 250px;margin-top: 10%" class="btn btn-light">Request Queto</button>
                                      
                                  </div>
                                  <div class="d-flex justify-content-center">
                                     <button style="margin-top:13%;width: 250px;margin-left: 5%" class="btn btn-light ">Send Message</button>
                                      
                                    </div>
                              </div>
                            </div> 
                        </div>
        
                        <div class="footer" style="margin-top: 30%">
                            <hr />
                            <div class="d-flex justify-content-center">
                              <button  style="background-color: 1565C0;width: 150px;font-size: 15px" class="btn btn-light" ><img src="assets\img\delete.png"> </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>    
        

    
            

           
                
          
          
    