<html>
  <head>
    <meta name="viewRport" content="width=device-width ,initial-scale=1.0 ">
  </head>
<body>
<div  id="slider">
<figure style="float: left ;height: 550px ">
<img src="\assets\img\wed-19.jpg">

<img  src="\assets\img\wed-10.jpg">  
<img  src="\assets\img\wed-15.jpg">    
<img src="\assets\img\wed-18.jpg">  


<img  src="\assets\img\wed-14.jpg">  

</figure>
</div>
<section class="jumbotron text-center">
  <div class="container">
    <!-- <h1 class="jumbotron-heading">Album example</h1> -->
    <!-- <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p> -->
    <p >			
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;	&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; 	&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 	&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
      <a style="width: 180px ;" href="#" class="btn btn-primary my-2">Main call to action</a>
      &nbsp; &nbsp; &nbsp; &nbsp; 
      <a style="width: 150px" routerLink='/signup' class="btn btn-secondary my-2">SignUp</a>
      &nbsp; &nbsp;&nbsp; &nbsp; 
      <a style="width: 150px" routerLink='/login' class="btn btn-secondary">LogIn</a>
    </p>
  </div>
</section>
<br><br><br><br>
<div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
  <h2 style="margin-left: 50%">Welcome</h2>
  <br><br>
  <h3 style="margin-left: 50% ; color: #1976D2">Wedding-Express Website</h3>
  <br>
  <p style="margin-left: 50%">WeddingExpress has Expanded into adjacent event verticals with WeddingExpress.Come to address the needs to corparate and social event palnners.</p>
</div>
<br>

<div class="rotating-box">
  <div class="single-rb">
    <div class="front-side">
      <img src="assets\img\wed-12.jpg">
    </div>
    <div class="back-side">
        <img src="assets\img\wed-2.jpg">
    </div>
    <div class="left-side">
        <img src="assets\img\wed-7.jpg">
    </div>
    <div class="right-side">
        <img src="assets\img\wed-8.jpg">
    </div>
    <div class="top-side">
        <!-- <img src="assets\img\wed-5.jpg"> -->
    </div>
    <div class="bottom-side">
        <!-- <img src="assets\img\wed-6.jpg"> -->
    </div>
  </div>
</div>
    

</body>
</html>