<div class="row">
  <div class="col-md-4">
    <div class="card mb-4 box-shadow" style="height: 460px;">
      <img class="card-img-top" src="assets/img/wed-8.jpg" alt="Card image cap" style="height:319px;">
         <div class="card-body">
            <h4 class="title"><a routerLink='/lassana-flora'>Lassana Flora</a></h4>
            <label class="category">Celebrate your special day among stunning blooms which have been elegently arranged by the talented team at Lassana Flora.</label>
         <br>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card mb-4 box-shadow" style="height: 460px;">
      <img class="card-img-top" src="assets/img/wed-9.jpg" alt="Card image cap" style="height:319px;">
         <div class="card-body">
            <h4 class="title"><a routerLink='/wedding-flora'>Wedding Flora</a></h4>
            <label class="category">Celebrate your special day among stunning blooms which have been elegently arranged by the talented team at Wedding Flora.</label>
         <br>
      </div>
    </div>
  </div>

  <div class="col-md-4">
      <div class="card mb-4 box-shadow" style="height: 460px;">
        <img class="card-img-top" src="assets/img/s3.jpg" alt="Card image cap" style="height:319px;">
           <div class="card-body">
              <h4 class="title"><a routerLink='/crystal-flora'>Crescent Flora</a></h4>
              <label class="category">Celebrate your special day among stunning blooms which have been elegently arranged by the talented team at Crystal Flora.</label>
           <br>
              
        </div>
      </div>
    </div>
  
</div>



<div class="row">
<div class="col-md-4">
  <div class="card mb-4 box-shadow"  style="height: 460px;">
    <img class="card-img-top" src="assets/img/images (14).jpg" alt="Card image cap"  style="height:317px;">
       <div class="card-body">
          <h4 class="title"><a routerLink='/manahara-flora' >Manahara Flora</a></h4>
          <label class="category">Celebrate your special day among stunning blooms which have been elegently arranged by the talented team at Manahara Flora.</label>
       <br>
    </div>
  </div>
</div>

<div class="col-md-4">
    <div class="card mb-4 box-shadow" style="height: 460px;">
      <img class="card-img-top" src="assets/img/images (22).jpg" alt="Card image cap" style="height:317px;">
         <div class="card-body">
            <h4 class="title"><a routerLink='/vendor-login'>May Queen Flora</a></h4>
            <label class="category">Celebrate your special day among stunning blooms which have been elegently arranged by the talented team at May Queen Flora.</label>
         <br>
      </div>
    </div>
  </div>
  <div class="col-md-4">
      <div class="card mb-4 box-shadow" style="height: 460px;">
        <img class="card-img-top" src="assets/img/w5.jpg" alt="Card image cap" style="height:317px;">
           <div class="card-body">
              <h4 class="title"><a routerLink='/crescent-flora'>Crystal Flora</a></h4>
              <label class="category">Celebrate your special day among stunning blooms which have been elegently arranged by the talented team at Crescent Flora.</label>
           <br>
         
        </div>
      </div>
    </div>
</div>



