<div class="row">
  <div class="col-md-4">
    <div class="card mb-4 box-shadow" style="height: 545px;">
      <img class="card-img-top" src="assets/img/v7.jpg" alt="Card image cap" style="height:319px;">
         <div class="card-body">
            <h4 class="title"><a routerLink='/salon-ohasa'>Salon Ohasa</a></h4>
         <br>
        <label class="category">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</label> 
        <small>Package range: 10000-30000<small>LKR</small></small>
  
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card mb-4 box-shadow" style="height: 545px;">
      <img class="card-img-top" src="assets/img/6.jpg" alt="Card image cap" style="height:319px;">
         <div class="card-body">
            <h4 class="title"><a routerLink='/salon-venus'>Salon Venus</a></h4>
         <br>
        <label class="category">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</label> 
        <small>Package range: 10000-30000<small>LKR</small></small>
            
      </div>
    </div>
  </div>

  <div class="col-md-4">
      <div class="card mb-4 box-shadow" style="height: 545px;">
        <img class="card-img-top" src="assets/img/7.jpg" alt="Card image cap" style="height:319px;">
           <div class="card-body">
              <h4 class="title"><a routerLink='/bala'>Salon Balasuriya</a></h4>
           <br>
          <label class="category">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</label> 
          <small>Package range: 10000-30000<small>LKR</small></small>
              
        </div>
      </div>
    </div>
  
</div>



<div class="row">
<div class="col-md-4">
  <div class="card mb-4 box-shadow"  style="height: 545px;">
    <img class="card-img-top" src="assets/img/wed-2.jpg" alt="Card image cap">
       <div class="card-body">
          <h4 class="title"><a routerLink='/bonita'>Salon Bonivita</a></h4>
       <br>
      <label class="category">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</label> 
      <small>Package range: 10000-30000<small>LKR</small></small>
    </div>
  </div>
</div>

<div class="col-md-4">
    <div class="card mb-4 box-shadow" style="height: 545px;">
      <img class="card-img-top" src="assets/img/11.jpg" alt="Card image cap" style="height:317px;">
         <div class="card-body">
            <h4 class="title"><a routerLink='/ewe'>Salon Eweuni</a></h4>
         <br>
        <label class="category">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</label> 
        <small>Package range: 10000-30000<small>LKR</small></small>
      </div>
    </div>
  </div>
  <div class="col-md-4">
      <div class="card mb-4 box-shadow" style="height: 545px;">
        <img class="card-img-top" src="assets/img/8.jpg" alt="Card image cap" style="height:317px;">
           <div class="card-body">
              <h4 class="title"><a routerLink='/mars'>Salon Mars</a></h4>
           <br>
          <label class="category">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</label> 
          <small>Package range: 10000-30000<small>LKR</small></small>
        </div>
      </div>
    </div>
</div>



