    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-5">
                <div class="card card-user">
                    <div class="image">
                        <img src="assets/img/background.jpg" alt="..."/>
                    </div>
                    <div class="content">
                        <div class="author">
                          <img class="avatar border-white" src="assets/img/faces/face-2.jpg" alt="..."/>
                          <h4 class="title">loreum ipsum<br />
                             <a href="#"><small>@loreum</small></a>
                          </h4>
                        </div>
                        <p class="description text-center">
                          <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br>
                            Aliquid animi assumenda aut cupiditate dolore facere, hic, impedit <br>
                            iste nesciunt nisi odio odit provident <br>
                            quam quis recusandae totam ullam veritatis. Illum.</span>
                        </p>
                    </div>
                    <hr>
                    <div class="text-center">
                        <div class="row">
                            <div class="text-center">
                                <h5>nickie<br /><small>Partner Name</small></h5>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-8 col-md-7">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Edit Profile</h4>
                    </div>

                  <div class="col-xs-12">
                    <div class="author">
                      <img style="width: 120px; height: 120px;" class="avatar border-white" src="assets/img/faces/face-2.jpg" alt="..."/>
                    </div>
                  </div>


                    <div class="content">
                        <form [formGroup]="rForm" (ngSubmit)="addPost(rForm.value)">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label>Email</label>
                                        <input type="email" class="form-control border-input" disabled placeholder="Email Address" value="lakithaprabudh96@gmail.com">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Full Name</label>
                                        <input formControlName="name" type="text"  class="form-control border-input " placeholder="Your full name" ng-modal="text"  required >
                                      <br>
                                        <div class="alert" *ngIf="!rForm.controls['name'].valid && rForm.controls['name'].touched">{{ titleAlert }}</div>
                                    </div>
                                </div>

                              <div class="col-md-3">
                                <div class="form-group">
                                  <label>Username</label>
                                  <input formControlName="username" type="text" class="form-control border-input" placeholder="Your username">
                                  <br>
                                  <div class="alert" *ngIf="!rForm.controls['username'].valid && rForm.controls['username'].touched">Username must be 5 to 10 characters</div>
                                </div>
                              </div>

                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Address</label>
                                        <input formControlName="address" type="text" class="form-control border-input" placeholder="Home Address">
                                      <br>
                                      <div class="alert" *ngIf="!rForm.controls['address'].valid && rForm.controls['address'].touched">Invalid address</div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Age</label>
                                        <input formControlName="age" type="number" class="form-control border-input" placeholder="Your age">
                                      <br>
                                      <div class="alert" *ngIf="!rForm.controls['age'].valid && rForm.controls['age'].touched">Age must be over 16</div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Partner name</label>
                                        <input type="text" class="form-control border-input" placeholder="Your Partner name">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>About Me</label>
                                        <textarea formControlName="description" rows="5" class="form-control border-input" placeholder="Here can be your description"></textarea>
                                      <br>
                                      <div class="alert" *ngIf="!rForm.controls['description'].valid && rForm.controls['description'].touched">You have to enter between 30 to 500 charcters...</div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center">
                                <button [disabled]="!rForm.valid" type="submit" class="btn btn-info btn-fill btn-wd">Update Profile</button>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
