<!--  Paper Dashboard core CSS    -->
<link href="./assets/css/paper-dashboard.css" rel="stylesheet"/>

        <img class="img-fluid" src="assets/img/cvr-sign.jpg" alt="..."/>


<br> <br>
<div class="container-fluid">
    <div class="d-flex justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="header">
                <h4 class="tite">SignUp</h4>
            </div>
            <div class="content">
                <form>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label>Email</label>
                                <input type="email" class="form-control border-input"  placeholder="Email Address" value="lakithaprabudh96@gmail.com">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Full Name</label>
                                <input type="text"  class="form-control border-input " placeholder="Your full name" ng-modal="text"  required >

    <!-- <input type="text" class="form-control" [(ngModel)]="name" name="name" minlength="5" required>-->
                            <!---->

                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                            <label>Username</label>
                            <input type="text" class="form-control border-input" placeholder="Your username">
                            </div>
                        </div>

                    </div>

                    <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Password</label>
                                    <input type="password"  class="form-control border-input " placeholder="Your password" ng-modal="password"  required >
                                </div>
                            </div>

                            <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Comfirm Password</label>
                                        <input type="password"  class="form-control border-input " placeholder="Retype password" ng-modal="retypePassword"  required >
                                    </div>
                                </div>
                    </div>

                    <div class="text-center">
                            <button type="button" class="btn btn-primary" (click)="login()" >Login with Google</button>
                    </div> <br>

                    <div class="text-center">
                        <button type="submit" class="btn btn-info btn-fill btn-wd">sign up</button>
                    </div>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
</div>
    