<link href="./assets/css/paper-dashboard.css" rel="stylesheet"/>

        <img class="img-fluid" src="assets/img/wed-1.jpg" alt="..." style="width: 100% ; height: 20%;"/>

        <br>
        <br>
        <br>
        <div>
          <p style="text-align: center">Welcome to Eweuni salon in Sri Lanka

            Eweuni salon is most speciality for bridal dressing,bridal make up, bridal hair dressing, bridal makeup,bridal hair dressing , beauty treatment and other treatment and other beauty services	.
            
            Every One has dream of their wedding. This is the day woman wants to look her best Ohasha beauty salon help you to look gorgeous on your special day.
            
            With our five year experience of bridal dressing ,bridal makeup, and other salon services will help you to make your wedding day beautiful.</p>
        </div>
        <!-- <p style="text-align: center">
          Our Services
<li>Bridal Dressing</li>
<li>Hair StylingHair</li>
<li>CutsHair</li>   
<li>Treatments</li>
<li>Hair colour </li>
<li>Hair Highlights</li> 
<li> Straightening</li>
<li>Bonding</li>
<li>PermingSkin</li>
<li> TreatmentClean up</li>
<li>Herbal facial</li> 
<li>Glow facial</li>
<li>Threading</li>
</p> -->

        <br>
        <br>
        <br>
        <div class="row">
          <div class="col-md-4">
            <div class="card mb-4 box-shadow" style="height: 545px;width: 450px">
              <img class="card-img-top" src="assets/img/t1.jpg" alt="Card image cap" style="height:545px;">
                 <!-- <div class="card-body">
                    <h4 class="title">Salon Ohasha Wattala</h4>
                    <br>
                <label class="category">Brides by Salon Ohasa at Wattala.Photographs by Chanaka Massillamany.</label> 
              </div> -->
            </div>
          </div>
        
          <div class="col-md-4">
            <div class="card mb-4 box-shadow" style="height: 545px; width: 450px">
              <img class="card-img-top" src="assets/img/t2.jpg" alt="Card image cap" style="height:545px; margin-top: 0% ;">
                 <!-- <div class="card-body">
                    <h4 class="title">Salon Ohasha Wattala</h4>
                 <br>
                 <label class="category">Foot theraphy is more than relaxing tired feet.</label> 
                 <label class="category">Its comforting and soothing a stressed out day , caring for your wellbeing and a secret to beautiful you.</label> 
                  
              </div> -->
            </div>
          </div>
          <br>
          <div></div>
          <br>
          <div class="col-md-4">
            <div class="card mb-4 box-shadow" style="height: 545px;width: 450px;" >
              <img class="card-img-top" src="assets/img/t3.jpg" alt="Card image cap"  style="height:545px" >
              </div>
            </div>
        
          
        </div>
        
        <div class="row">
        <div class="col-md-4"> 
          <div class="card mb-4 box-shadow"  style="margin-top: 50px ;width: 450px ;height: 535px">
            <img class="card-img-top" src="assets/img/t4.jpg" alt="Card image cap" style=" margin-top: 0% ;height:317px">
               <div class="card-body">
                  <h4 class="title">Salon Ohasa Wattala</h4>
               <br>
               <label class="category">Brides by Salon Eweuni at Wattala.Photographs by Chanaka Massillamany.</label>
               <label class="category">Come and join with us and make your wedding better.</label>
            </div>
          </div>
        </div>
        
        <div class="col-md-4">
            <div class="card mb-4 box-shadow" style="height: 525px;width: 450px ;margin-top: 50px">
              <img class="card-img-top" src="assets/img/t5.jpg" alt="Card image cap" style="height:317px;">
              <div class="card-body">
                  <h4 class="title" >Salon Eweuni Wattala</h4>
               <br>
               <label class="category">Foot theraphy is more than relaxing tired feet.</label> 
               <label class="category">Its comforting and soothing a stressed out day , caring for your wellbeing and a secret to beautiful you.</label> 

              </div>
            </div>
          </div>

          <div class="col-md-4">
              <div class="card mb-4 box-shadow" style="height: 510px ;width: 450px ;margin-top: 50px">
                <img class="card-img-top" src="assets/img/b6.png" alt="Card image cap" style="height: 515px">
                <!-- <div class="card-body">
                    <h4 class="title" >Salon Ohasha Wattala</h4>
                 <br>
                 <label class="category">Foot theraphy is more than relaxing tired feet.</label> 
                 <label class="category">Its comforting and soothing a stressed out day , caring for your wellbeing and a secret to beautiful you.</label> 
  
                </div> -->
              </div>
            </div>
        </div>
        
        
        
        <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 box-shadow" style="height: 610px;width: 450px ;margin-top: 50px">
            <img class="card-img-top" src="assets/img/t6.jpg" alt="Card image cap" style="height:317px; margin-top: 0% ; height: 485px;">
               <div class="card-body">
                  <h4 class="title">Salon Eweuni Wattala</h4>
               <br>
               <label class="category">Brides by Salon Eweuni at Wattala.Photographs by Chanaka Massillamany.</label>
            </div>
          </div>

        
              <div class="card mb-4 box-shadow" style="height: 630px;width: 450px;margin-top: 50px" >
                <img class="card-img-top" src="assets/img/b4.png" alt="Card image cap" >
                </div>
                

                <div class="Foot" style="width:1500px ; height: 100px;">
                    <h4 style="background-color: dimgrey;opacity: 0.5;color: black;text-align: center;font: bold ; width: 100%  ; margin-top: 0% ;height: 30px;">Contact Us : 0916789234</h4>
                 </div>  
             
          
        </div>
        <div class="col-md-4">
            <div class="card mb-4 box-shadow" style="height: 610px;width: 450px ;margin-top: 50px">
              <img class="card-img-top" src="assets/img/t7.jpg" alt="Card image cap" style="height:490px;">
              <div class="card-body">
                  <h4 class="title" >Salon Eweuni Wattala</h4>
                  <br>
               <label class="category">Hair dress by Roshani de Silva.Make Your appearance full change with us.Get treat by us.</label> 

              </div>
            </div>
            <div class="col-md-4" >
                <div class="card mb-4 box-shadow" style="height: 619px;width: 480px; margin-top: 50px" >
                    <img class="card-img-top" src="assets/img/22b.jpg" alt="Card image cap" >
                      <div class="card-body">
                    <h3 class="title" style="text-align: center">Salon Eweuni Wattala</h3>
                    <img src="assets/img/f3.png" >
                     <div class="d-flex justify-content-between align-items-center"style="text-align: center">
                        <button  type="button" class="btn btn-light" aria-label="center Align " style="margin-left: 24%">
                        <i class="far fa-calendar-check"></i> make appoinment
                      </button>
                    </div>
                    <br>
               
  
                </div>
                    </div>
              </div>
          </div>

          

          <div class="col-md-4">
              <div class="card mb-4 box-shadow" style="height: 610px;width: 450px ;margin-top: 50px">
                <img class="card-img-top" src="assets/img/b6.jpg" alt="Card image cap" style="height:610px;">
                <!-- <div class="card-body">
                    <h4 class="title" >Salon Ohasha Wattala</h4>
                    <br>
                 <label class="category">Hair dress by Roshani de Silva.Make Your appearance full change with us.Get treat by us.</label> 
  
                </div> -->
              </div>
              <div class="col-md-4" >
              <div class="card mb-4 box-shadow" style="height: 578px;width: 450px; margin-top: 50px" >
                  <img class="card-img-top" src="assets/img/wed-3.jpg" alt="Card image cap" >
                  </div>
            </div>
            <br>
            <br>
            <br><br>
            <br>
            <br>
            

           
                
          
          
    