/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";


.alert{
    background: #EF9A9A;
    padding: 7px;
    font-size: 12px;
    display: inline-block;
    animation: 2s alertAnim forwards;
    color: white;
  }
  
  
  @keyframes alertAnim {
  
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to{
      opacity: 1;
      transform: translateY(0);
    }
  
  }
  