<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <div class="inner">
      <p style="color: aliceblue">Night Vision</p>
      <p style="color: aliceblue ;font-size: 20px">Contact Us : 0771230127</p>
    </div>
  </div>

  <div class="crd" style="width: 1500px;height: 400px">
      
          <div class="col-lg-3 col-sm-6" style="margin-top: 3%;margin-left: 65%;height: 400px">
            <div class="card" >
                    <div class="content" style="height: 350px">
                        <div class="d-flex justify-content-center">
                            <h5 style="margin-left: 20%">Appoinments</h5>
                         </div>
      
                        <div class="d-flex justify-content-center">
                          <div class="row">
                              <div class="col-xs-8">
      
                                  <div class="d-flex justify-content-center">
                                     <button style="width: 350px;margin-top: 10%;margin-left: 31%" class="btn btn-light">Request Queto</button>
                                      
                                  </div>
                                  <div class="d-flex justify-content-center">
                                     <button style="margin-top:13%;width: 350px;margin-left: 31%" class="btn btn-light ">Send Message</button>
                                      
                                    </div>
                              </div>
                            </div> 
                        </div>
      
                        <div class="footer" style="margin-top: 30%">
                            <hr />
                            <div class="d-flex justify-content-center">
                              <button  style="background-color: 1565C0;width: 150px;font-size: 15px;margin-left: 40%" class="btn btn-light" ><img src="assets\img\delete.png"> </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
      
      
        </div>

  <div>
      <p style="font-size:50px;margin-top: -27%;margin-left: 5%">About this Vendor</p>
  </div>
  <p style="width: 800px;margin-left: 5%">Remixologists is a team of like-minded DJs specializing in weddings and private events, but are known to ignite epic dance parties wherever we spin. Our client-focused approach & musically versatile palette is the difference between having a 'good wedding' and an AMAZING ONE that gets talked about years from now by your friends & family. We serve the New York & Delaware Valley Tri-State areas, including NYC, New Jersey, Philadelphia, Delaware, Maryland, and beyond. Visit our website and listen to some mixes while you work, play, exercise, clean, etc. You'll be glad you did..</p>
  

  <div>
      <p style="font-size:40px;margin-top: 5%;margin-left: 5%">Amenities + Details</p>
  </div>
  <div style="font-size: 20px;margin-left: 8%">
  <li>Arabic
      </li>
      <li> Bollywood
          </li>
          <li> Caribbean
               </li>
               <li> Hip-Hop
                   </li>
                   <li> Indian
                       </li>
                        <li>Rock
                           </li>
                           <li>  Disco 
                               </li>
                               <li> Indian
                                </li>
                                 <li>Latin
                                    </li>
                                    <li>  World Music
                                        </li>
                                        <li>Recorded Music,
                                          </li>
                                          <li> Audio/Visual Equipment
                                              </li>
                               <img style="margin-left: 30%;margin-top: -30%;width: 900px;height: 350px" src="assets\img\dj-2.jpg">
                              </div>

<section class="slideshow">
    <div class="content">
        <div class="content-carrousel">
        <figure class="shadow"><img src="assets\img\dj-1.jpg"></figure>
        <figure class="shadow"><img src="assets\img\dj-2.jpg"></figure>
        <figure class="shadow"><img src="assets\img\dj-3.jpg"></figure>
        <figure class="shadow"><img src="assets\img\dj-4.jpg"></figure>
        <figure class="shadow"><img src="assets\img\dj-5.jpg"></figure>
        <figure class="shadow"><img src="assets\img\dj-6.jpg"></figure>
        <figure class="shadow"><img src="assets\img\dj-1.jpg"></figure>
        <figure class="shadow"><img src="assets\img\dj-3.jpg"></figure>
        <figure class="shadow"><img src="assets\img\dj-5.jpg"></figure>
            
        </div>
        
    </div>
     </section>


                                        
                              <div>
                                      <p style="font-size:40px;margin-top: -12%;margin-left: 5%">About Us</p>
                                  </div>     
                                  <p style="width: 800px;margin-left: 5%;font-size: 15px">Email: nigthvision@gmail.com.</p>
                                  <p style="width: 800px;margin-left: 5%;font-size: 15px">No23,Star city Road,Hikkaduwa.</p>
                                  <br>
                                  <p style="width: 800px;margin-left: 5%;font-size: 15px">Contacts :+95 9133538678</p>
                                  <br>
                                  <img style="margin-left: 40%;margin-top: -15%;width: 850px;height: 300px" src="assets\img\dj-1.jpg">
                          

</body>
</html>